<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <link rel="stylesheet" href="../static/profile.css">
</head>
<body id="mainBody">
<div id="container1">
<div id="greeting">
    <h2 id="text">Hello {{ usr_first_name }} {{ usr_last_name }}!</h2>
</div>
<div id="form">
    <br><br>
    <button type="submit" onclick="goHome()">Home</button>
    <br><br>
    <text id="textstyle">This is the information you want to search:</text>
    <br><br>
    <text id="textstyle">First name: {{ search_first_name }}</text>
    <br><br>
    <text id="textstyle">Last name: {{ search_last_name }}</text>
    <br><br>
    <text id="textstyle">Email: {{ search_email }}</text>
    <br><br>
    <text id="textstyle">id: {{ search_id }}</text>
    <br><br>
    <button type="submit" onclick="deleteUser()">delete</button>
    <br><br>
    <text id="textstyle">Update profile:</text>
    <br><br>
    <form id="updateForm" name="update" onsubmit="updateUser(event);">
        <input id="input1" type="text" name="new_email" id="new_e" placeholder="new email"><br>
        <input type="text" name="new_first_name" id="new_f" placeholder="new first name"><br>
        <input type="text" name="new_last_name" id="new_l" placeholder="new last name"><br>
        <input type="password" name="new_password" id="new_p" placeholder="new password"><br>
      <button type="submit">update</button>
    </form>
</div>
</div>
</body>
    <script>
        var fixed_url = "http://seeb-env.twuqj3ymuy.us-east-1.elasticbeanstalk.com";
        {#var fixed_url = "http://127.0.0.1:5000";#}
        var token = '{{ token }}';
        var Etag = '{{ ETag }}';
        sessionStorage.setItem('token', token);
        console.log(sessionStorage.getItem('token'));

        sessionStorage.setItem('Etag', Etag);
        console.log("Etag");
        console.log(sessionStorage.getItem('Etag'));
        {#var xhr = new XMLHttpRequest()#}
        {#xhr.setRequestHeader('token', sessionStorage.getItem('token'));#}
        function updateUser(e) {
            e.preventDefault();
            let target_usr = '{{ search_email }}';
            let new_email = document.getElementById("new_e").value;
            let new_first_name = document.getElementById("new_f").value;
            let new_last_name = document.getElementById("new_l").value;
            let new_password = document.getElementById("new_p").value;
            $.ajax({
                type: "PUT",
                url: fixed_url + "/api/user/" + target_usr,
                data: {
                    "new_email":new_email,
                    "new_first_name":new_first_name,
                    "new_last_name":new_last_name,
                    "new_password":new_password,
                    "token":sessionStorage.getItem('token'),
                    "Etag":sessionStorage.getItem('Etag')
                },
                dataType: "html",
                success: function (response) {
                    console.log(response);
                    $('#mainBody').html(response);
                },
                error: function (xhr, status, error) {
                    console.log(error);
                    alert("Cannot update." + error);
                }
             });
        }

        function deleteUser() {
            let target_usr = '{{ search_email }}';
             $.ajax({
                type: "DELETE",
                url: fixed_url + "/api/user/" + target_usr,
                data: {
                    "token":sessionStorage.getItem('token')
                },
                dataType: "html",
                success: function (response) {
                    console.log(response);
                    alert(response);
                },
                error: function (xhr, status, error) {
                    alert("Cannot delete");
                }
             });
        }

        function goHome() {
            let usr_first_name = '{{ usr_first_name }}';
            let usr_last_name = '{{ usr_last_name }}';
            console.log(sessionStorage.getItem('token'));
             $.ajax({
                type: "GET",
                url: fixed_url + "/home",
                data: {
                    "first_name":usr_first_name,
                    "last_name":usr_last_name,
                    "token":sessionStorage.getItem('token')
                },
                dataType: "html",
                success: function (response) {
                    console.log(response);
                    $('#mainBody').html(response);
                },
                error: function (xhr, status, error) {
                    alert("Error");
                }
             });
          }
    </script>
</html>